* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*height: 100vh;*/
    align-items: center;
    background: rgb(210, 165, 109);
    background: linear-gradient(90deg, rgba(210, 165, 109, 1) 0%, rgba(189, 126, 74, 1) 35%, rgba(131, 80, 46, 1) 100%);
}

h1 {
    margin: 0 0 2.5rem 0;
    font-size: 2.5rem;
    font-family: "Langar", cursive;
}

h1 i {
    padding: 0.5rem;
    border: 0.1rem solid transparent;
    border-radius: 8px;
    margin: 0 1rem;
    cursor: pointer;
}

h1 i:hover {
    color: white;
    border: 0.1rem solid white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

p#quote {
    display: inline-block;
    background-color: rgb(223, 223, 230, 0.3);
    padding: 1rem;
    border-radius: 20px;
    font-family: "Nerko One", cursive;
    word-wrap: break-word;
    max-width: 30vw;
    opacity: 1;
    transition: opacity 3s ease;
}

p#quote.hidden {
    display: none;
    opacity: 0;
    font-family: "Nerko One", cursive;
}

#img-container {
    background-color: red;
    position: relative;
    width: 70vw;
    max-width: 70vw;
}

#img-container.toTheLeft{
    transition: transform 2s ease-in;
    transform: translateX(30%);
}

#img-container img{
    position: absolute;
    width: 100%;
}
img#kanye-talks{
    opacity: 0;
}


@keyframes fadeImage {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    }
}

